Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer--> A database is a collection of structured data that is organized in a way that allows it to be easily stored, managed, and retrieved. Databases are used to store data for various purposes, such as managing business transactions, storing customer information, and tracking inventory.


1 SQL stands for Structured Query Language where as NoSQL for Not only SQL databases.

2 SQL databases are relational, while NoSQL databases are non-relational.

3 SQL databases use a table-based structure, while NoSQL databases use a variety of data models.

4 SQL databases are known for their strong data consistency, reliability, and durability, while NoSQL databases are known for their high availability, horizontal scalability, and fast data processing capabilities.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer--> DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and modify the structure of database objects such as tables, views, indexes, and constraints.

1 CREATE: The CREATE command is used to create a new database object, such as a table or a view. For example, to create a new table named "students", we can use the following command:

CREATE TABLE students (
id INT PRIMARY KEY, name VARCHAR(50), age INT, address VARCHAR(100)
 );  # id is marked as primary so that each student must having a uniqy
 

2 DROP: The DROP command is used to delete an existing database object, such as a table or a view. For example, to drop the "students" table we just created, we can use the following command:

DROP TABLE students;


3 ALTER: The ALTER command is used to modify the structure of an existing database object, such as adding or dropping columns in a table. For example, to add a new column named "email" to the "students" table, we can use the following command:

ALTER TABLE students
ADD COLUMN email VARCHAR(100);

4 TRUNCATE: The TRUNCATE command is used to delete all the data from an existing table, while leaving the structure of the table intact. For example, to delete all the data from the "students" table, we can use the following command:

TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer--> DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML commands are used to insert new data into a table, update existing data in a table, and delete data from a table.

1 INSERT: The INSERT command is used to add new data to a table. 
For example, to insert a new record into a table named "students", we can use the following command:

INSERT INTO students (id, name, age, address)
VALUES (1, 'John Doe', 20, '123 Main St');

This command inserts a new record with the specified values into the "students" table.

2 UPDATE: The UPDATE command is used to modify existing data in a table. For example, to update the age of the student with id=1 in the "students" table, we can use the following command:

UPDATE students
SET age = 21
WHERE id = 1;

This command updates the age of the student with id=1 to 21 in the "students" table.

3 DELETE: The DELETE command is used to remove data from a table. For example, to delete the record for the student with id=1 from the "students" table, we can use the following command:

DELETE FROM students
WHERE id = 1;

This command deletes the record for the student with id=1 from the "students" table

Q4. What is DQL? Explain SELECT with an example.

Answer-->  DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

SELECT * FROM students;

This command selects all columns from the "students" table and returns all rows.

We can also use the SELECT command to retrieve specific columns from a table. 
For example, to retrieve only the "name" and "age" columns from the "students" table, we can use the following command:

SELECT name, age FROM students;

This command selects only the "name" and "age" columns from the "students" table and returns all rows.

Q5. Explain Primary Key and Foreign Key.

Answer--> In a relational database, a primary key and a foreign key are two important concepts used to establish relationships between tables.

A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It must be unique and not null for each record in the table. A primary key is used to enforce data integrity and ensure that each record in the table can be uniquely identified. For example, in a table of "students", the "id" column can be designated as the primary key, ensuring that each student has a unique identifier.

A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables, where the values in the foreign key column must match the values in the primary key column of the referenced table. For example, in a table of "enrollments", the "student_id" column can be designated as a foreign key, referring to the primary key of the "students" table. This ensures that each enrollment is associated with a valid student record.

In summary, a primary key is used to uniquely identify each record in a table, while a foreign key is used to establish a relationship between tables. Together, they ensure data consistency and help to maintain the integrity of a relational database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


import mysql.conector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "pasword",
    database='database_name'
)

mycursor = mydm.cousor()

mycursor.exicute("query")

mydb.close()

cursor() method in Python is used to create a cursor object, which is used to interact with a database. A cursor is a control structure that enables traversal of records in a database. It allows you to execute SQL queries, fetch results, and manage transactions.

execute() method is used to execute a SQL query on a MySQL database. It takes a single argument, which is the SQL query to be executed.

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer-->
In a typical SQL query, the clauses are executed in the following order:

1 SELECT - This clause is used to select the columns and rows to be returned by the query. It is usually the first clause in a SQL query.

2 FROM - This clause is used to specify the table or tables from which to retrieve the data. It follows the SELECT clause in a SQL query.

3 WHERE - This clause is used to filter the results based on a specified condition. It follows the FROM clause in a SQL query.

4 GROUP BY - This clause is used to group the results by one or more columns. It follows the WHERE clause in a SQL query.

5 HAVING - This clause is used to filter the results of a GROUP BY clause based on a specified condition. It follows the GROUP BY clause in a SQL query.

6 ORDER BY - This clause is used to sort the results based on one or more columns. It follows the HAVING clause in a SQL query.

7 LIMIT - This clause is used to limit the number of rows returned by the query. It is usually the last clause in a SQL query.

It's important to note that not all SQL queries will use all of these clauses, and they may not always be executed in this exact order. However, this is the typical order of execution for a basic SQL query that includes all of these clauses.